@import '@/styles/constans.module.scss';

.container {
  color: $secondaryTextColor;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.imagenChevron {
  margin-left: 5px;
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: $secondaryTextColor;
}
